// Variable overrides
// $primary: #55da21;

$seconday-base: red;

$text-primary: rgb(209, 15, 235);

// $info: red;

$success: blue;

// $danger: rgb(241, 13, 203);

// $dark: yellow;

// $light: rgb(95, 95, 155);
